mixin renderProducts(products)
 h1 Products
 .products
    for product in products
      +renderProduct(product)

mixin renderProduct(product)
    .product-in-list
      .product-image
        +renderImage(product.fields.image[0], product.fields.slug, 150)
      .product-details
        +renderProductDetails(product.fields)


mixin renderImage(image, slug, w)
  if image && image.fields.file
    if slug != ""
      a(href="/products/"+slug data-nav)
        if(w)
          img(src=image.fields.file.url+"?w="+w alt=image.fields.title)
        else 
          img(src=image.fields.file.url alt=image.fields.title)

    else if(w)
      img(src=image.fields.file.url+"?w="+w alt=image.fields.title width=w)
    else
      img(src=image.fields.file.url alt=image.fields.title)
  else 


mixin renderProductDetails(fields)
  +renderProductHeader(fields)
  p.product-categories #{fields.categories.map(function(category){ return category.fields.title }).join(', ')}
  p #{fields.productDescription}
  p #{fields.price} &euro;
  +renderTags(fields.tags)

mixin renderProductHeader(fields)
  .product-header
    h2
      a(href="/products/"+fields.slug data-nav) #{fields.productName}
    span  by
    a(href="brand/"+fields.brand.sys.id data-env)  #{fields.brand.fields.companyName}

mixin renderSingleProduct(singleProduct)
  .single-product
    .product-image
      +renderImage(singleProduct.fields.image[0], "", 300)
    .product-details
      .product-header
        h2 #{singleProduct.fields.productName}
        span   by  
        a(href="/brand/"+singleProduct.fields.brand.sys.id data-nav) #{singleProduct.fields.brand.fields.companyName}
      p.product-categories #{singleProduct.fields.categories.map(function(category){ return category.fields.title }).join(', ')}
      p #{singleProduct.fields.productDescription}
      p Size/Type/Color: #{singleProduct.fields.sizetypecolor}
      p #{singleProduct.fields.quantity} in stock
      p #{singleProduct.fields.price} &euro;
      p SKU: #{singleProduct.fields.sku}
      p More details: 
        a(href=singleProduct.fields.website) #{singleProduct.fields.website}
      +renderTags(singleProduct.fields.tags) 

mixin renderTags(tags)
  p.product-tags
    span Tags:
    ul.tags
      for tag in tags
        li.tag #{tag}

mixin renderCategories(categories, products)
  .categories
    ul.categories-list
      +renderCategoriesList(categories)
    div
      +renderProducts(products)

mixin renderCategoriesList(categories)
  li
    a(href="/categories") All
  for category in categories
    li
      img(src=category.fields.icon.fields.file.url width="20" height="20" alt=category.fields.categoryDescription title=category.fields.categoryDescription)
      a(href="/categories/"+category.sys.id data-nav) #{category.fields.title} 


mixin renderBrand(brand)
  .brand
    h2 #{brand.fields.companyName}
    div
      +renderImage(brand.fields.logo)
    p #{brand.fields.companyDescription}
    p
      a(href=brand.fields.website) #{brand.fields.website}
    p
      a(href=brand.fields.twitter) #{brand.fields.twitter}
    p
      a(href=brand.fields.email) #{brand.fields.email}
    p
      a(href=brand.fields.phone) #{brand.fields.phone}

